@import 'utility.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --para:#898989;
    --light:#F2F2F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    text-decoration: none;
    color: var(--pure);
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .logo h2{
    color: var(--pure);
    margin-right: 3rem;
}
/* .hero{
    padding: 3rem 0;
} */
.hero .left img{
    width: 400px;
    object-fit: cover;
}
.hero .right {
    color: var(--pure);
}

.hero .right h6{
    color: var(--primary);
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.hero .right h1{
    color: var(--pure);
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 1.7rem;
}
.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    color: var(--para);
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -6rem;
}


section{
    padding: 6rem 0;
}

.about .about_img img{
    width: 400px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
font-family: 'Lato', sans-serif;
color: var(--para);
line-height: 1.9;
margin-bottom: 2.5rem;
}



.section_hed{
    color: var(--dark);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section_hed + p{
    text-align: center;
    color: var(--para);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
}
.section_hed span{
    color: var(--primary);
}
section.services{
    background: var(--light);
}
section.services .card_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}
section.services .card_wrapper .card img{
    width: 100px;
    height: 100px;
    background: var(--primary);
    position: absolute;
    top:-3.2rem;
    left: 50%;
    transform: translateX(-50%);
}

section.services .card_wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    transition: all .3s ease;
}
section.services .card_wrapper .card h2{
    padding-top: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 00.5rem;
}
section.services .card_wrapper .card p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: var(--para);
    line-height: 1.6;
}

section.services .card_wrapper .card:hover{
    background: var(--dark);
}
section.services .card_wrapper .card:hover h2,section.services .card_wrapper .card:hover p{
    color: var(--pure);
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Images/dev.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.9rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;

}


section.reviews .slider .slide .review_img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}

section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
}
section.reviews .slider .slide h6{
    font-size: 0.7rem;
    font-weight: 100;
}

section.work{
    background: var(--light);
}
section.work .card_wrapper img{
    width: 100%;
    height: 100%;
}
section.work .card_wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.work .card_wrapper .card{
    position: relative;
    height: 250px;
    width: 350px;
}
section.work .card_wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--para);
    opacity: 0;
    transition: all .3s ease;
}
section.work .card_wrapper .card .overlay a{
    color: var(--light);
    text-decoration: none;
}
section.work .card_wrapper .card:hover .overlay{
    opacity: 1;
}

section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 12rem;

}
section.blog .section_hed{
    color: var(--pure);
}

section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
    width: 350px;
    height: auto;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;    
}
section.blog .card-wrapper .card .card-content a{
    color: var(--dark);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .card-content span{
    color: var(--para);
    font-size: 0.8rem;
}

section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: var(--para);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 00.8rem;
}

section.contact .card-wrapper .card{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
section.contact .card-wrapper .card img{
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 17rem;
    margin-bottom: 16rem;
   
}
section.contact .card-wrapper .card {
    text-align: center;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--para);
    font-weight: 400;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);

}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);

}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
        outline: none;
}
section.contact .btn-wrap{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}

footer h1{
    margin-bottom: 3rem;
    color: var(--pure);
}
footer .footer-social a{
    margin-right: 1rem;
}
footer .footer-social{
    margin-bottom: 2rem;
}
footer .copy-right{
    color: var(--para);
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:768px){
    /* *{
        overflow-x: hidden;
    } */
    .container{
        max-width: 720px;
    }
}

@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    .hero .left img{
        width: 260px;
    }
    .hero .right h1{
        font-size: 3rem;
        line-height: 1.1;
    }
    .hero{
        padding-top: 7rem;
    }
    header{
        padding-bottom: 4rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0.000% 87%, 0 100%);
    }
    .about .about_img img {
        width: 290px;
    }
    section.about p{
        line-height: 1.9;
    margin-bottom: 0.7rem;
    }

    section.about .social a{
        padding: 0;
        width: 0;
        height: 0;
     border-radius: none; 
     margin-right: 0;
     background: transparent; 
    }
    .section_hed {
        line-height: 1;
    }
    section.services .card_wrapper{
        overflow-x: visible;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5.5rem;
    }
    section.work .card_wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.work .card_wrapper .card{
        height: 250px;
        width: 320px;
    }
    section.work .card_wrapper img {
        height: 96%;
    }
    .section_hed {
        line-height: 1.2;
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.contact .card-wrapper {
        grid-gap: 0rem;
        margin-bottom: 10rem;
        text-align: center;
        justify-content: center;
    }
    section.contact .card-wrapper .card{
        height: 100px;
        object-fit: cover;
    }
    section.blog .card-wrapper .card{
        width: 320px;
    }
}

@media (max-width:576px){
    /* *{
        overflow-x: hidden;
    } */

    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 93%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top:340px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left img {
        width: 297px;
    }
    .hero .left{
        margin-top: -8rem;
        margin-right: -6.5rem;
        padding-bottom: 8rem;
    }
    .hero .right p {
        color: var(--pura);
    }
    .about_inner{
        flex-direction: column;
    }
    .about .right_text{
        text-align: center;
        margin-top: 2rem;
    }
    section.services .card_wrapper{
        grid-template-columns: 1fr;
    }
    section.about .social{
        margin-top: 3rem;
    }
    section.freelancer {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;

    }

    section.reviews .slider .slide {
        padding: 0px 0rem;
    }

    .section_hed + p {
        margin-bottom: 3rem;
    }
    section.work .card_wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.work .card_wrapper .card{
        width: auto;
    }
    section.blog .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.blog .card-wrapper .card{
        width: auto;
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
   
    section.contact .input-wrap {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
        margin-bottom: 2rem;
    }
    section.contact .card-wrapper .card h1{
        font-weight: 400;
        margin-bottom: 0.3rem;
        font-size: 2rem;
    }
    section.contact .card-wrapper .card h6{
        font-size: 1rem;
        
    }
    section.contact .card-wrapper{
        text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;       
    }
    section.contact .card-wrapper .card{
        width: 180px;
        height: 180px;
        object-fit: cover;
        padding: 0px;
        margin-top: 7rem;
    }
    section.contact .section_hed+p{
        margin-bottom: -3rem;
    }
    section.services .card_wrapper {
        margin-top: 8rem !important;
    }
}

@media (max-width:405px){
    /* *{
        overflow-x: hidden;
    } */

    .btn {
        padding: 0.8rem 2.5rem;
    }
    .hero .left img {
        width: 266px;
    }
    section.services .card_wrapper {
        margin-top: 8rem !important;
    }
}

@media (max-width:373px){
    .hero .left img {
        width: 249px;
    }
    header {
        padding-bottom: 10rem;
    }
}


